<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a href="#" mat-list-item>Create Ticket</a>
      <a href="#" mat-list-item>Placeholder</a>
      <a href="#" mat-list-item>Placeholder</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <span class="material-icons">menu</span>
      </button>
      <h1 style="padding-left: 20px">LGD Analytics</h1>
    </mat-toolbar-row>
  </mat-toolbar>
    <nav mat-tab-nav-bar>
      <a mat-tab-link [routerLink]="'dash-board'">Dashboard</a>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
