.sidenav-container{
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
  background-color: white;
}

.menu-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}

.mat-icon-button{
  background: transparent;
  color: white;
}
